<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<state>
<layer>
    <menu>
	    <itemmenu name="Inicio" func="print x" />
	    <itemmenu name="Opciones" func="spot" />
	    <itemmenu name="Creditos" func="spot" />
	    <itemmenu name="Exit" func="spot" />
	    <itemmenu name="Instinctiv" func="spot" />
	    <itemmenu name="Instinctiv" func="spot" />
    </menu>
</layer>
</state>
