<state>

    <obj type="background">
        <param>image</param>
    </obj>
	
	<obj type="menu">
        <param>
            <obj type="pos"><param>100</param><param>440</param></obj>
        </param>
        <param>
            <obj type="itemmenu">
                <param>1. Ir al Menu 3</param>
                <param>menu3</param>
            </obj>
        </param>
        <param>
            <obj type="itemmenu">
                <param>2. Ir al Menu 2</param>
                <param>menu2</param>
            </obj>
        </param>
    </obj>
	
    <obj type="character">
		<param>vx_chara01_b.png</param>
		<param>2</param>
		<param name="up">up</param>
		<param name="down">down</param>
		<param name="left">left</param>
		<param name="right">right</param>
		<param name="jump">space</param>
	</obj>
	
    <obj type="character">
		<param>vx_chara01_b.png</param>
		<param>4</param>
		<param name="up">w</param>
		<param name="down">s</param>
		<param name="left">a</param>
		<param name="right">d</param>
		<param name="jump">e</param>
	</obj>
	
	
</state>
