button.classic{
	background-color:[130,130,130,255];
	border-color:[100,100,100,255];
	border-width:2;
	width:150;
	height:40;
}

button:press{
	text-offset-y:2;
}

#header{
	vertical-alignment:top;
	height:40;
	background-image:top;
	repeat-x:true;
}


#bottom {
	background-image:bottom;
	height:46;
	vertical-alignment:bottom;
	repeat-x:true;
}


#header move{
	height:20;
	vertical-alignment:top;
	font:DroidSerif-Regular;
	margin:80 0;
}

#main{
	margin:76 0 0 0;
	background-color:#3a3a3a;
}

#Menu{
	color-content:#FFF;
	background-image:menu;
	width:76;
	horizontal-alignment:left;
	cell-height:65;
	repeat-y:true;
}

#Menu togglebutton{
	margin:0 0 0;
}

#Menu togglebutton:press,#Menu togglebutton:selected{
	background-color:#000;
}

#play{
	height:50;
	width:50;
	vertical-alignment:bottom;
	horizontal-alignment:left;
	margin:50 0 0 0;
	bold:1;
	background-image:play;
}

#slider{
	direction:horizontal;
	width:50;
	horizontal-alignment:left;
	background-image:slider;
}


#rw{
	background-image:rw;
	height:50;
	width:50;
	vertical-alignment:bottom;
	horizontal-alignment:left;
}

#fw{
	background-image:fw;
	height:50;
	width:50;
	vertical-alignment:bottom;
	horizontal-alignment:left;
	margin:100 0 0 0;
}

#slid{
	height:50;
	width:50;
	margin:150 15;
	background-image:slid;
	repeat-x:true;
}

#close{
	background-image:close;
	height:20;
	width:20;
	vertical-alignment:top;
	horizontal-alignment:right;
	margin:5;
}

#close:press{
	background-image:close_press;
}

#lista{
	_margin:305 5 5 5;
	margin:5;
	cell-height:34;
}

song{
	background-color:#6664;
	height:28;
	color-content:#C8C8C8;
}

#lista song%even{
	background-color:#7777;
}

song .title{
	color-content:#FFF;
	text-align:left;
	margin:5;
}

song .info{
	color-content:#FFF;
	margin:0 5 5 5;
	horizontal-alignment:right;
	width:50;
	background-color:#46825A;
	border-color:#46825A;
	border-width:3;
}

song:selected, song:press{
	background-color:#9696FF;
}

song:hover{
	background-color:#88D;
}

song .title:selected{
	color-content:#000;
}

#bottom button%last{
	height:50;
	width:150;
	vertical_alignment:bottom;
	horizontal_alignment:right;
}

#inter{
	margin:0 40 0 46;	
}

scrollpanel{
horizontal-alignment:left;
width:300;
}

#image{
	background-image:image;
}
